h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Trimposter condensed', sans-serif;
  color: #fff;
  font-size: 80px;
  line-height: 65px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.25px;
}

p {
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.body {
  background-color: #84754e;
}

.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-bottom: 40px;
  padding-top: 40px;
}

.foot {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 60px;
  padding-top: 8px;
  background-color: #000;
}

.center {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.numbers {
  margin-top: auto;
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.small {
  color: #554a2e;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.color {
  width: 200px;
  height: 50px;
}

.white {
  height: 40px;
  background-color: #fff;
}

.hex {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  color: #000;
}

.hex.whitetext {
  color: #fff;
}

.black {
  height: 40px;
  background-color: #000;
}

.sand {
  height: 40px;
  border: 1px solid #554a2e;
}

.dark-sand {
  height: 40px;
  background-color: #554a2e;
}

.palette {
  margin-bottom: 90px;
}

.button {
  display: block;
  width: 160px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
  clear: both;
  border: 2px solid #554a2e;
  background-color: transparent;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  border: 2px solid #000;
}

.app-icon {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .body {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (max-width: 479px) {
  .body {
    background-color: #84754e;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
  }
  .footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2000;
    height: 63px;
    background-color: #000;
    background-image: url('../images/ftw_footer.png');
    background-position: 50% 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .foot {
    background-image: none;
  }
}

@font-face {
  font-family: 'Trimposter condensed';
  src: url('../fonts/TrimPoster_Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}