/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* page navigation CSS transitions */

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.page.transition {
		 
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.hide {
      display: none;
}

.topcoat-navigation-bar {
			position: fixed;
			width: 100%;
			padding: 0rem;
			z-index: 10;
			background-color: #f8f8f8;
}

.topcoat-navigation-bar__title {
			       font-size: 1rem;
			       font-weight: 500;
			       display: inline;
			       margin-left: 0;
}

.header .topcoat-navigation-bar__item {
	padding: 10px 0 0 0;
}

.header .topcoat-navigation-bar__item.center.half,
.header .topcoat-navigation-bar__item.center.full {
	margin-left: -0.3rem;
	padding-top: 0.4rem;
}

.topcoat-navigation-bar__item.left .icon {
				   padding-left: 1rem;
}

.topcoat-navigation-bar__item.right .icon {
				    padding-right: 1.3rem;
}

.footer .topcoat-navigation-bar__item {
	line-height: 3rem !important;
}

.header {
	top: 0;
	-webkit-box-shadow: inset 0 -1px #d3d3d3;
	box-shadow: inset 0 -1px #d3d3d3;
}

.footer {
	bottom: 0;
	-webkit-box-shadow: inset 0 1px #d3d3d3;
	box-shadow: inset 0 1px #d3d3d3;
	height: 2.75rem;
}

.page .content {
      position: absolute;
      top: 4rem;
      left: 0;
      right: 0;
      bottom: 2.75rem;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 9;
      text-align: left;
}

.content * {
	 margin: 0 !important;
}

.topcoat-list {
	      border: 0;
	      background-color: #dfe2e2;
}

.topcoat-list__header {
		      border: 0px;
		      text-shadow: 0 1px 0 rgba(0,0,0,0.5);
		      background-color: #ff3600;
		      color: white;
		      font-weight: 800;
		      font-size: 1em;
}

.screen {
	position: fixed;
	height: 67%;
	bottom: 0;
	background-color: #dfe2e2;
	z-index: 7;
	width: 100%;
}

.fa.icon {
font-size: 1.7em;
text-decoration: none;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }