/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Fonts */
@font-face {
  font-family: 'Trimposter condensed';
  src: url('../font/TrimPoster_Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* page navigation CSS transitions */
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.page.transition {
		 
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.hide {
      display: none;
}

/************ General Styles ***************/
html {
  width:100%;
}
body {
  width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align:center;
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 40px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}


/************ Top Bar ***************/
.topcoat-navigation-bar {
			position: fixed;
			width: 100%;
			padding: 0rem;
			z-index: 10;
			background-color: #f8f8f8;
}

.topcoat-navigation-bar__title {
			       font-size: 1.35rem;
			       font-weight: 500;
			       display: inline;
			       margin-left: -1.5;
}

.header .topcoat-navigation-bar__item {
	padding: 10px 0 0 0;
}

.header .topcoat-navigation-bar__item.center.half,
.header .topcoat-navigation-bar__item.center.full {
	margin-left: -0.3rem;
	padding-top: 0.4rem;
}

.topcoat-navigation-bar__item.left .icon {
				   padding-left: 1rem;
}

.topcoat-navigation-bar__item.right .icon {
				    padding-right: 1.3rem;
}

.footer .topcoat-navigation-bar__item {
	line-height: 3rem !important;
}

.header {
	top: 0;
	-webkit-box-shadow: inset 0 -1px #d3d3d3;
	box-shadow: inset 0 -1px #d3d3d3;
}

.footer {
	bottom: 0;
	-webkit-box-shadow: inset 0 1px #d3d3d3;
	box-shadow: inset 0 1px #d3d3d3;
	height: 2.75rem;
}

.page .content {
      position: absolute;
      top: 4rem;
      left: 0;
      right: 0;
      bottom: 2.75rem;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 9;
      text-align: left;
}

.content * {
	 margin: 0 !important;
}

.topcoat-list {
	      border: 0;
	      background-color: #dfe2e2;
}

.topcoat-list__header {
		      border: 0px;
		      text-shadow: 0 1px 0 rgba(0,0,0,0.5);
		      background-color: #ff3600;
		      color: white;
		      font-weight: 800;
		      font-size: 1em;
}

.screen {
	position: fixed;
	height: 67%;
	bottom: 0;
	background-color: #dfe2e2;
	z-index: 7;
	width: 100%;
}

.fa.icon {
font-size: 1.7em;
text-decoration: none;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 10px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#84754e;
            font-size:16px;
            font-weight:600;
            color:#FFFFFF;
            transition:all linear 0.15s;
            text-decoration:none;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background: rgba(135,117,79,0.25);
        color:#4c4c4c;
        text-decoration:none;
        /* border-left: thin solid #554a2e;
        border-right: thin solid #554a2e;
        border-top: thin solid #554a2e; */
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background: rgba(135,117,79,0.25);
        margin:0 auto;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

        .fight-list-header {
          font-family: 'Trimposter condensed', sans-serif;
          text-transform:uppercase;
          font-weight:400;
          padding:10px 0 20px 0;
          text-align:center;
          letter-spacing: 1px;
          /* color:#84754e; */
          color: #554a2e;
          font-size:40px;

        }

        .fight-list {
          border-top:thin solid white;
          width:100%;
          display: block;
          margin:0 auto 30px auto;
          padding:10px 0;
          float: none;
          clear: both;
          background-color: transparent;
          -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
          font-family: Montserrat, sans-serif;
          color: #000;
          font-weight: 700;
          text-align: left;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
        }

          .fight-list a {
            text-underline:none;
            
          }

          .last-in-fight-list {
            border-bottom:thin solid white;
          }

.header, .footer {
  background-color: #84754e;
}

body {
  background-color: #FFFFFF;
}

.icon {
      color: #FFFFFF;
}

h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Trimposter condensed', sans-serif;
  color: #FFFFFF;
  font-size: 80px;
  line-height: 65px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.25px;
}

.topcoat-navigation-bar__title {
color: #FFFFFF;
font-weight: 200;
}

p {
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.logo {
  display: block;
  margin-right: auto;
  margin-left: -0.6rem;
  padding-top: 0.8rem;
  -webkit-filter: invert(100%);
}

.content {
 margin: 0 1rem;
}

.submitbutton {
  display: block;
  width: 310px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
  clear: both;
  border: 2px solid #554a2e;
  background-color: transparent;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
